NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=
PAYSTACK_SECRET_KEY=
PAYSTACK_INITIALIZE_URL=
NVIDIA_API_KEY=
NVIDIA_API_URL=https://integrate.api.nvidia.com/v1
NVIDIA_MODEL=z-ai/glm4.7
NVIDIA_STT_MODEL=whisper-large-v3
